@import "tailwindcss";
@source "./components";

@theme {
  /* container */
  --container-max-width: 1400px;
  --container-padding-x: 1rem;

  /* font weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* display text */
  --text-display-3xl: 96px;
  --text-display-2xl: 72px;
  --text-display-xl: 60px;
  --text-display-lg: 48px;
  --text-display-md: 36px;
  --text-display-sm: 30px;
  --text-display-xs: 24px;

  /* display text line height */
  --line-height-display-3xl: 120px;
  --line-height-display-2xl: 90px;
  --line-height-display-xl: 72px;
  --line-height-display-lg: 60px;
  --line-height-display-md: 44px;
  --line-height-display-sm: 38px;
  --line-height-display-xs: 32px;

  /* primary color */
  --color-primary-25: #eef5f0;
  --color-primary-50: #e6f5eb;
  --color-primary-100: #b0dfc0;
  --color-primary-200: #8ad0a2;
  --color-primary-300: #55bb78;
  --color-primary-400: #34ad5d;
  --color-primary-500: #019935;
  --color-primary-600: #018b30;
  --color-primary-700: #016d26;
  --color-primary-800: #01541d;
  --color-primary-900: #004016;

  /* gray color */
  --color-gray-25: #f2f3f5;
  --color-gray-50: #eaebed;
  --color-gray-100: #bfc2c8;
  --color-gray-200: #9fa4ad;
  --color-gray-300: #747b87;
  --color-gray-400: #596170;
  --color-gray-500: #2f3a4c;
  --color-gray-600: #2b3545;
  --color-gray-700: #212936;
  --color-gray-800: #1a202a;
  --color-gray-900: #141820;

  /* danger color */
  --color-danger-25: #fbf1f1;
  --color-danger-50: #fbeae9;
  --color-danger-100: #f3beba;
  --color-danger-200: #ee9e99;
  --color-danger-300: #e6726a;
  --color-danger-400: #e1574d;
  --color-danger-500: #d92d21;
  --color-danger-600: #c5291e;
  --color-danger-700: #9a2017;
  --color-danger-800: #771912;
  --color-danger-900: #5b130e;

  /* warning color */
  --color-warning-25: #fffaf2;
  --color-warning-50: #fff7e9;
  --color-warning-100: #fee7ba;
  --color-warning-200: #fedb99;
  --color-warning-300: #feca6b;
  --color-warning-400: #fdc04e;
  --color-warning-500: #fdb022;
  --color-warning-600: #e6a01f;
  --color-warning-700: #b47d18;
  --color-warning-800: #8b6113;
  --color-warning-900: #6a4a0e;

  /* success color */
  --color-success-25: #eef8f3;
  --color-success-50: #e7f8f0;
  --color-success-100: #b6e9d1;
  --color-success-200: #92deba;
  --color-success-300: #60cf9b;
  --color-success-400: #41c588;
  --color-success-500: #12b76a;
  --color-success-600: #10a760;
  --color-success-700: #0d824b;
  --color-success-800: #0a653a;
  --color-success-900: #084d2d;
}

@plugin "daisyui" {
  themes: light --default;
}

.dev {
  border: 2px solid red !important;
}

.dev2 {
  border: 2px solid blue !important;
}
